<app-header></app-header>
<section>
    <div class="content">
        <div class="main">
            <div class="column">
                <div class="head">
                    <p>Construction Materials</p>
                    <button routerLink="/homescreen">
                        <span>Back</span>
                    </button>
                </div>
                <div class="add">
                    <button (click)="openAddOverlay()">+ Add Material</button>
                </div>
                <app-add-material-overlay *ngIf="showAddOverlay" (close)="closeAddOverlay()"></app-add-material-overlay>
                <div class="table-one">
                    <table>
                        <thead>
                            <tr>
                            <th>Material</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of firebaseService.materials; track item.id) {
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.unit }}</td>
                                <td class="actions">
                                <button class="icon-btn">
                                    ✏️
                                </button>
                                <button class="icon-btn">
                                    🗑️
                                </button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
