.main{
    padding-left: 10rem;       
    padding-right: 10rem;      
    display: flex;             
    flex: 1 1 0%;              
    justify-content: center;   
    padding-top: 1.25rem;      
    padding-bottom: 1.25rem;
    .column{
        display: flex;
        flex-direction: column;
        max-width: 960px;
        flex: 1 1 0%;
        .head{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 0.75rem;
            padding: 1rem;
            p{
                color: #1b0d0d;            
                letter-spacing: -0.01em;   
                font-size: 32px;           
                font-weight: 700;          
                line-height: 1.25;         
                min-width: 18rem;
            }
            button{
                display: flex;                 
                min-width: 84px;               
                max-width: 480px;              
                cursor: pointer;               
                align-items: center;           
                justify-content: center;       
                overflow: hidden;              
                border-radius: 0.5rem;         
                height: 2rem;                  
                padding-left: 1rem;            
                padding-right: 1rem;           
                background-color: #f3e7e7;     
                color: #1b0d0d;                
                font-size: 0.875rem;           
                font-weight: 500;              
                line-height: 1.5;
                span{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }              
            }
        }
        .table-one{
            table {
                width: 100%;
                border: 1px solid #e7cfcf;
                border-radius: 8px;
                overflow: hidden;
                thead {
                background: #fcf8f8;
                th {
                    padding: 12px 16px;
                    text-align: left;
                    font-weight: 500;
                    color: #1b0d0d;
                }
                }
                tbody {
                tr {
                    border-top: 1px solid #e7cfcf;
                    height: 72px;
                    td {
                    padding: 8px 16px;
                    font-size: 0.875rem;
                    color: #1b0d0d;
                    }
                }         
                }
            }
        }
    }
}