<app-header></app-header>
<section>
    <div class="content">
        <div class="main">
            <div class="grid">
                <div class="grid-item">
                    <span class="material-icons text-blue-500 text-6xl mb-4">schedule</span>
                    <h2 class="description">Zeiterfassung</h2>
                </div>
                <div class="grid-item">
                    <span class="material-icons text-green-500 text-6xl mb-4">event_available</span>
                    <h2 class="description">Urlaubsverwaltung</h2>
                </div>
                <div class="grid-item">
                    <span class="material-icons text-yellow-500 text-6xl mb-4">inventory_2</span>
                    <h2 class="description">Baustoffe</h2>
                </div>
                <div class="grid-item">
                    <span class="material-icons text-purple-500 text-6xl mb-4">construction</span>
                    <h2 class="description">Geräte</h2>
                </div>
            </div>
        </div>
    </div>
</section>

