<app-header></app-header>
<section>
    <div class="content">
        <div class="main">
            <div class="column">
                <div class="head">
                    <p>Time Tracking</p>
                    <button routerLink="/homescreen">
                        <span>Back</span>
                    </button>
                </div>
                <div class="center-tracking">
                    <div class="timer">
                        {{ formattedTime }}
                    </div>
                </div>
                <div class="center">
                    <div class="btn-area">
                        <button (click)="startTimer()">
                            <span>Start Work</span>
                        </button>
                        <button (click)="stopTimer()">
                            <span>Pause Work</span>
                        </button>
                        <button (click)="endWork()">
                            <span>End Work</span>
                        </button>
                    </div>
                </div>
                <div class="work-sessions">
                    <h3>Letzte Arbeitssessions:</h3>
                    <div *ngFor="let session of workSessions">
                        {{ session.date }} - {{ session.worktime }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
