.main{
    padding-left: 10rem;       
    padding-right: 10rem;      
    display: flex;             
    flex: 1 1 0%;              
    justify-content: center;   
    padding-top: 1.25rem;      
    padding-bottom: 1.25rem;
    .column{
        display: flex;
        flex-direction: column;
        max-width: 960px;
        flex: 1 1 0%;
        .head{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 0.75rem;
            padding: 1rem;
            p{
                color: #1b0d0d;            
                letter-spacing: -0.01em;   
                font-size: 32px;           
                font-weight: 700;          
                line-height: 1.25;         
                min-width: 18rem;
            }
            button{
                display: flex;                 
                min-width: 84px;               
                max-width: 480px;              
                cursor: pointer;               
                align-items: center;           
                justify-content: center;       
                overflow: hidden;              
                border-radius: 0.5rem;         
                height: 2rem;                  
                padding-left: 1rem;            
                padding-right: 1rem;           
                background-color: #f3e7e7;     
                color: #1b0d0d;                
                font-size: 0.875rem;           
                font-weight: 500;              
                line-height: 1.5;
                span{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }              
            }
        }
        .center-tracking{
            display: flex;
            justify-content: center;
            .tracking{
                display: flex;               
                max-width: 480px;            
                flex-wrap: wrap;             
                align-items: flex-end;       
                gap: 1rem;                   
                padding-left: 1rem;          
                padding-right: 1rem;         
                padding-top: 0.75rem;        
                padding-bottom: 0.75rem;
                .label{
                    display: flex;
                    flex-direction: column;
                    min-width: 10rem;
                    flex: 1 1 0%;
                    .text{
                        color: #1b0d0d;
                        font-size: 1rem;
                        font-weight: 500;
                        line-height: 1.5;
                        padding-bottom: 0.5rem;
                    }
                    .input{
                        display: flex;
                        width: 80%;
                        min-width: 0;
                        flex: 1 1 0%;
                        resize: none;
                        overflow: hidden;
                        border-radius: 0.5rem;
                        color: #1b0d0d;
                        outline: 0;
                        box-shadow: none;
                        border: 1px solid #e7cfcf;
                        background-color: #fcf8f8;
                        height: 3.5rem;
                        padding: 15px;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5;
                    }
                }     
            }
        }
        .center{
            display: flex;
            justify-content: center;
            margin-bottom: 5rem;
            .btn-area{
                display: flex;
                flex: 1 1 0%;
                gap: 0.75rem;
                flex-wrap: wrap;
                padding-left: 1rem;
                padding-right: 1rem;
                padding-top: 0.75rem;
                padding-bottom: 0.75rem;
                max-width: 480px;
                justify-content: center;
                .start-btn{
                    border: 1px solid #b6e9c7;     
                    background-color: #d7f5df;     
                    color: #0f3a20;                
                    font-family: "Poppins", sans-serif;
                    font-weight: 500;
                    font-size: 14px;
                    transition: 0.2s ease;
                    display: flex;
                    min-width: 84px;
                    max-width: 480px;
                    cursor: pointer;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    border-radius: 6px;
                    height: 2.5rem;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    flex-grow: 1;
                    &:hover {
                        background-color: #c6efcf; 
                        border-color: #a1e1b8;     
                    }
                    span {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
                .stop-btn{
                    border: 1px solid #b6d9e9;     
                    background-color: #dbefff;     
                    color: #0f3a20;                
                    font-family: "Poppins", sans-serif;
                    font-weight: 500;
                    font-size: 14px;
                    transition: 0.2s ease;
                    display: flex;
                    min-width: 84px;
                    max-width: 480px;
                    cursor: pointer;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    border-radius: 6px;
                    height: 2.5rem;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    flex-grow: 1;
                    &:hover {
                        background-color: #c9e7ff; 
                        border-color: #a7cde3;     
                    }
                    span {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
                .end-btn{
                    border: 1px solid #e9b6b6;     
                    background-color: #ffe0e0;     
                    color: #0f3a20;                
                    font-family: "Poppins", sans-serif;
                    font-weight: 500;
                    font-size: 14px;
                    transition: 0.2s ease;
                    display: flex;
                    min-width: 84px;
                    max-width: 480px;
                    cursor: pointer;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    border-radius: 6px;
                    height: 2.5rem;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    flex-grow: 1;
                    &:hover {
                        background-color: #ffd1d1; 
                        border-color: #e3a1a1;     
                    }
                    span {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
        .table-one{
            table {
                width: 100%;
                border: 1px solid #e7cfcf;
                border-radius: 8px;
                overflow: hidden;
                thead {
                background: #fcf8f8;
                th {
                    padding: 12px 16px;
                    text-align: left;
                    font-weight: 500;
                    color: #1b0d0d;
                }
                }
                tbody {
                tr {
                    border-top: 1px solid #e7cfcf;
                    height: 72px;
                    td {
                    padding: 8px 16px;
                    font-size: 0.875rem;
                    color: #1b0d0d;
                    }
                }         
                }
            }
        }
    }   
}


