<app-header></app-header>
<section>
    <div class="content">
        <div class="main">
            <div class="column">
                <div class="head">
                    <p>Time Tracking</p>
                    <button routerLink="/homescreen">
                        <span>Back</span>
                    </button>
                </div>
                <div class="center-tracking">
                    <div class="tracking">
                    <label class="label">
                        <p class="text">Hours</p>
                        <input placeholder="00" class="input" value="">
                    </label>
                    <label class="label">
                        <p class="text">Minutes</p>
                        <input placeholder="00" class="input" value="">
                    </label>
                </div>
                </div>
                <div class="center">
                    <div class="btn-area">
                        <button>
                            <span>Start Work</span>
                        </button>
                        <button>
                            <span>Pause Work</span>
                        </button>
                        <button>
                            <span>End Work</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
