footer {
    padding: 20px 0;
    .content {
        display: flex;
        justify-content: center;
    }
    .footer-content {
        display: flex;
        gap: 20px;
        button {
        background: none;
        border: none;
        color: #999;           
        font-size: 14px;
        cursor: pointer;
        padding: 0;
        transition: color 0.2s ease;
        &:hover {
            color: #666;          
            text-decoration: underline;
        }
        }
    }
}