<app-header></app-header>
<section>
    <div class="content">
        <div class="main">
            <div class="column">
                <div class="head">
                    <p>Construction Tools</p>
                    <button routerLink="/homescreen">
                        <span>Back</span>
                    </button>
                </div>
                <div class="table-one">
                    <!-- <div class="tools-table">
                        <div class="table-header">
                            <h2>Tool</h2>
                            <h2>Description</h2>
                            <h2>Status</h2>
                        </div>
                        @for (item of firebaseService.tools; track item.id) {
                            <div class="table-row">
                            <span>{{ item.name }}</span>
                            <span>{{ item.description }}</span>
                            <span>{{ item.inUse }}</span>
                            </div>
                        }
                    </div> -->
                    <table>
                        <thead>
                            <tr>
                            <th>Tool</th>
                            <th>Description</th>
                            <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of firebaseService.tools; track item.id) {
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.description }}</td>
                                <td>
                                <label class="switch">
                                    <input type="checkbox" [checked]="item.inUse" (change)="toggleInUse(item)">
                                    <span class="slider"></span>
                                </label>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
