<app-header></app-header>
<section>
    <div class="content">
        <div class="main">
            <div class="column">
                <div class="head">
                    <p>Construction Tools</p>
                    <button routerLink="/homescreen">
                        <span>Back</span>
                    </button>
                </div>
                <div class="table-one">
                    <table>
                        <thead>
                            <tr>
                            <th>Tool</th>
                            <th>Description</th>
                            <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of firebaseService.tools; track item.id) {
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.description }}</td>
                                <td>
                                <label class="switch">
                                    <input type="checkbox" [checked]="item.inUse" (change)="toggleInUse(item)">
                                    <span class="slider" [ngClass]="{'in-use': item.inUse, 'available': !item.inUse}">
                                        {{ item.inUse ? 'In Use' : 'Available' }}
                                    </span>
                                </label>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
