<app-header></app-header>
<section>
    <div class="content">
        <div class="main">
            <div class="column">
                <div class="head">
                    <p>Vacation Management</p>
                    <button routerLink="/homescreen">
                        <span>Back</span>
                    </button>
                </div>
                <div class="feedback">
                    <div class="container">
                        <p class="container-header">Total vacation days</p>
                        <p class="container-info">27</p>
                    </div>
                    <div class="container">
                        <p class="container-header">Remaining vacation days</p>
                        <p class="container-info">{{ remainingDays }}</p>
                    </div>
                    <div class="container">
                        <p class="container-header">Days already taken</p>
                        <p class="container-info">{{ daysAlreadyTaken }}</p>
                    </div>
                </div>
                <form #vacForm="ngForm" (ngSubmit)="submitVacation(vacForm)">
                    <div class="form-section">
                        <div class="input-time">
                            <label class="label">
                                <p class="label-header">Start Date</p>
                                <input class="label-input" type="date" name="vacStart" required [(ngModel)]="vacation.vacStart"/>
                            </label>
                            <label class="label">
                                <p class="label-header">End Date</p>
                                <input class="label-input" type="date" name="vacEnd" required [(ngModel)]="vacation.vacEnd"/>
                            </label>
                        </div>
                        <label class="input-days">
                            <p class="days-header">Days Needed</p>
                            <input class="days-input" type="number" min="1" placeholder="1" name="daysNeeded" required [(ngModel)]="vacation.daysNeeded"/>
                        </label>
                        <label class="input-reason">
                            <p class="reason-header">Reason</p>
                            <textarea class="reason-text" placeholder="Add reason" name="reason" [(ngModel)]="vacation.reason"></textarea>
                        </label>
                    </div>
                    <div class="form-btn">
                        <button class="request-btn">
                            <span>Request Vacation</span>
                        </button>
                    </div>
                </form>
                <div class="table-one">
                    <table>
                        <thead>
                            <tr>
                                <th>Duration</th>
                                <th>Reason</th>
                                <th>Approved</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of firebaseService.vacation; track item.id){
                                <tr>
                                    <td>{{ item.vacStart }} to {{ item.vacEnd }}</td>
                                    <td>{{ item.reason }}</td>
                                    <td>
                                        <span *ngIf="item.approved">✔️</span>
                                        <span *ngIf="!item.approved">❌</span>
                                    </td>
                                </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
