<app-header></app-header>
<section>
    <div class="content">
        <div class="main">
            <div class="column">
                <div class="head">
                    <p>Vacation Management</p>
                    <button routerLink="/homescreen">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8 3.293l6 6V15h-4v-4H6v4H2v-5.707l6-6z"/>
                            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6 6a1 1 0 0 1-1.414 1.414L8 2.414 2.707 8.207A1 1 0 0 1 1.293 6.793l6-6z"/>
                        </svg>
                    </button>
                </div>
                <div class="feedback">
                    <div class="container">
                        <p class="container-header">Total vacation days</p>
                        <p class="container-info">27</p>
                    </div>
                    <div class="container">
                        <p class="container-header">Remaining vacation days</p>
                        <p class="container-info">{{ remainingDays }}</p>
                    </div>
                    <div class="container">
                        <p class="container-header">Days already taken</p>
                        <p class="container-info">{{ daysAlreadyTaken }}</p>
                    </div>
                </div>
                <form #vacForm="ngForm" (ngSubmit)="submitVacation(vacForm)">
                    <div class="form-section">
                        <div class="input-time">
                            <label class="label">
                                <p class="label-header">Start Date</p>
                                <input class="label-input" type="date" name="vacStart" required [(ngModel)]="vacation.vacStart" #startCtrl="ngModel"/>
                                <small class="error" *ngIf="startCtrl.invalid && startCtrl.touched">
                                    Start Date is required
                                </small>
                            </label>
                            <label class="label">
                                <p class="label-header">End Date</p>
                                <input class="label-input" type="date" name="vacEnd" required [(ngModel)]="vacation.vacEnd" #endCtrl="ngModel"/>
                                <small class="error" *ngIf="endCtrl.invalid && endCtrl.touched">
                                    End Date is required
                                </small>
                            </label>
                        </div>
                        <label class="input-days">
                            <p class="days-header">Days Needed</p>
                            <input class="days-input" type="number" min="1" placeholder="1" name="daysNeeded" required [(ngModel)]="vacation.daysNeeded" #daysCtrl="ngModel"/>
                            <small class="error" *ngIf="daysCtrl.invalid && daysCtrl.touched">
                                Please enter number of days (min 1)
                            </small>
                        </label>
                        <label class="input-reason">
                            <p class="reason-header">Reason</p>
                            <textarea class="reason-text" placeholder="Add reason" name="reason" required [(ngModel)]="vacation.reason" #reasonCtrl="ngModel"></textarea>
                            <small class="error" *ngIf="reasonCtrl.invalid && reasonCtrl.touched">
                                Reason is required
                            </small>
                        </label>
                    </div>
                    <div class="form-btn">
                        <button class="request-btn" type="submit" [disabled]="vacForm.invalid">
                            <span>Request Vacation</span>
                        </button>
                    </div>
                </form>
                <div class="table-one">
                    <table>
                        <thead>
                            <tr>
                                <th>Duration</th>
                                <th>Reason</th>
                                <th>Approved</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of firebaseService.vacation; track item.id){
                                <tr>
                                    <td>{{ item.vacStart }} to {{ item.vacEnd }}</td>
                                    <td>{{ item.reason }}</td>
                                    <td>
                                        <span *ngIf="item.approved">✔️</span>
                                        <span *ngIf="!item.approved">❌</span>
                                    </td>
                                </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
