.main{
    padding-left: 10rem;       
    padding-right: 10rem;      
    display: flex;             
    flex: 1 1 0%;              
    justify-content: center;   
    padding-top: 1.25rem;      
    padding-bottom: 1.25rem;
    .column{
        display: flex;
        flex-direction: column;
        max-width: 960px;
        flex: 1 1 0%;
        .head{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 0.75rem;
            padding: 1rem;
            p{
                color: #1b0d0d;            
                letter-spacing: -0.01em;   
                font-size: 32px;           
                font-weight: 700;          
                line-height: 1.25;         
                min-width: 18rem;
            }
            button{
                display: flex;                 
                min-width: 84px;               
                max-width: 480px;              
                cursor: pointer;               
                align-items: center;           
                justify-content: center;       
                overflow: hidden;              
                border-radius: 0.5rem;         
                height: 2rem;                  
                padding-left: 1rem;            
                padding-right: 1rem;           
                background-color: #f3e7e7;     
                color: #1b0d0d;                
                font-size: 0.875rem;           
                font-weight: 500;              
                line-height: 1.5;
                span{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }              
            }
        }
        .feedback{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            padding: 1rem;
            .container{
                display: flex;
                min-width: 158px;
                flex: 1 1 0%;
                flex-direction: column;
                gap: 0.5rem;
                border-radius: 0.5rem;
                padding: 1.5rem;
                border: 1px solid #e7cfcf;
                .container-header{
                    color: #1b0d0d;
                    font-size: 1rem;
                    font-weight: 500;
                    line-height: 1.5rem;
                }
                .container-info{
                    color: #1b0d0d;
                    letter-spacing: 0.025em;
                    font-size: 1.5rem;
                    font-weight: 700;
                    line-height: 1.375rem;
                }
            }
        }
        .form-section{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
            .input-time{
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                align-items: flex-end;
                .label{
                    display: flex;
                    flex-direction: column;
                    min-width: 10rem;
                    flex: 1 1 0%;
                    .error{
                        color: #d9534f;
                        font-size: 0.75rem;
                        margin-top: 0.25rem;
                        text-align: center;
                    }
                    .label-header{
                        color: #1b0d0d;
                        font-size: 1rem;
                        font-weight: 500;
                        line-height: 1.5rem;
                        padding-bottom: 0.5rem;
                    }
                    .label-input{
                        min-width: 0;
                        flex: 1 1 0%;
                        resize: none;
                        overflow: hidden;
                        border-radius: 0.5rem;
                        color: #1b0d0d;
                        border: 1px solid #e7cfcf;
                        background-color: #fcf8f8;
                        height: 3.5rem;
                        padding: 15px;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5rem;
                        cursor: pointer;
                        &::placeholder {
                            color: #9a4c4c;
                        }
                        &:focus {
                            outline: 0;
                            box-shadow: none;
                            border-color: #e7cfcf;
                        }
                    }
                }
            }
            .input-days{
                display: flex;
                flex-direction: column;
                .error{
                    color: #d9534f;
                    font-size: 0.75rem;
                    margin-top: 0.25rem;
                    text-align: center;
                }
                .days-header{
                    color: #1b0d0d;
                    font-size: 1rem;
                    font-weight: 500;
                    line-height: 1.5rem;
                    padding-bottom: 0.5rem;
                }
                .days-input{
                        min-width: 0;
                        flex: 1 1 0%;
                        resize: none;
                        overflow: hidden;
                        border-radius: 0.5rem;
                        color: #1b0d0d;
                        border: 1px solid #e7cfcf;
                        background-color: #fcf8f8;
                        height: 3.5rem;
                        padding: 15px;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5rem;
                        cursor: pointer;
                }
            }
            .input-reason{
                display: flex;
                flex-direction: column;
                .error{
                    color: #d9534f;
                    font-size: 0.75rem;
                    margin-top: 0.25rem;
                    text-align: center;
                }
                .reason-header{
                    color: #1b0d0d;
                    font-size: 1rem;
                    font-weight: 500;
                    line-height: 1.5rem;
                    padding-bottom: 0.5rem;
                }
                .reason-text{
                    display: flex;
                    min-width: 0;
                    flex: 1 1 0%;
                    resize: none;
                    overflow: hidden;
                    border-radius: 0.5rem;
                    color: #1b0d0d;
                    border: 1px solid #e7cfcf;
                    background-color: #fcf8f8;
                    min-height: 6rem;
                    padding: 15px;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5rem;
                    &::placeholder {
                        color: #9a4c4c;
                    }
                    &:focus {
                        outline: 0;
                        box-shadow: none;
                        border-color: #e7cfcf;
                    }
                }
            }
        }
        .form-btn{
            display: flex;
            justify-content: center;
            .request-btn{
                border: none;
                display: flex;
                min-width: 84px;
                max-width: 480px;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                border-radius: 0.5rem;
                height: 2.5rem;
                padding-left: 1rem;
                padding-right: 1rem;
                margin-bottom: 5rem;
                background-color: #dc2626;
                color: #ffffff;
                font-size: 0.875rem;
                font-weight: 700;
                line-height: 1.5rem;
                letter-spacing: 0.015em;
                &:hover{
                    background-color: #ef4444;
                    cursor: pointer;
                }
                &:disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                    background-color: #dc2626;
                }
                span{
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
        .table-one{
            table {
                width: 100%;
                border: 1px solid #e7cfcf;
                border-radius: 8px;
                overflow: hidden;
                thead {
                background: #fcf8f8;
                th {
                    padding: 12px 16px;
                    text-align: left;
                    font-weight: 500;
                    color: #1b0d0d;
                }
                }
                tbody {
                tr {
                    border-top: 1px solid #e7cfcf;
                    height: 72px;
                    td {
                    padding: 8px 16px;
                    font-size: 0.875rem;
                    color: #1b0d0d;
                    }
                }         
                }
            }
        }
        
    }
}