.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.overlay-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    position: relative;
    min-width: 300px;
    text-align: center;
    .close-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        background: none;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        label {
            display: flex;
            flex-direction: column;
            min-width: 10rem;
            flex: 1 1 0%;
            p {
                color: #1b0d0d;
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.5rem;
                padding-bottom: 0.5rem;
            }
            input {
                min-width: 0;
                flex: 1 1 0%;
                resize: none;
                overflow: hidden;
                border-radius: 0.5rem;
                color: #1b0d0d;
                border: 1px solid #e7cfcf;
                background-color: #fcf8f8;
                height: 3.5rem;
                padding: 15px;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5rem;
                cursor: pointer;
                &::placeholder {
                    color: #9a4c4c;
                }
                &:focus {
                    outline: 0;
                    box-shadow: none;
                    border-color: #e7cfcf;
                }
            }
        }
        button {
            margin-top: 1rem;
            background-color: #1b0d0d;
            color: white;
            border: none;
            padding: 0.8rem 1.2rem;
            border-radius: 0.5rem;
            font-size: 1rem;
            cursor: pointer;
            &:hover {
            opacity: 0.9;
            }
        }
    }
}


