<div class="overlay">
    <div class="overlay-content">
        <button class="close-btn" (click)="onClose()">✖</button>
        <form #materialForm="ngForm" (ngSubmit)="submitMaterial(materialForm)">
            <label>
                <p>Name</p>
                <input type="text" name="name" required [(ngModel)]="material.name"/>
            </label>
            <label>
                <p>Description</p>
                <input type="text" name="description" required [(ngModel)]="material.description"/>
            </label>
            <label>
                <p>Quantity</p>
                <input type="number" name="quantity" min="0" required [(ngModel)]="material.quantity"/>
            </label>
            <label>
                <p>Unit</p>
                <input type="text" name="unit" required [(ngModel)]="material.unit"/>
            </label>
            <label>
                <p>Category</p>
                <input type="text" name="category" required [(ngModel)]="material.category"/>
            </label>
            <button type="submit">Add Material</button>
        </form>
    </div>
</div>
