/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}
//content-begrenzung
section, header{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    .content{
    width: 100%;
    max-width: 1920px;
    }
}